.App {
  text-align: center;
}

body {
  padding: 1em;
}

.working-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.result-display {
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: small;
}

.node {
  position: relative;
  border: thin solid #2d3142;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin: 0 0 1em 0;
  width: fit-content;
}

.truthy {
  background-color: lightgreen;
}

.falsy {
  background-color: lightpink;
}

.operand-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.operand {
  border: thin solid #adacb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
}

.operator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.variable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0 0;
  padding: 0.4em;
}

.variable-group {
  border: thin solid #2d3142;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 0.5em;
  margin: 0 1em 0 0;
  width: fit-content;
}